doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

    button.btn.btn-default.btn-sm(type='button', onclick='window.location.href=\'/layout\'')
      span.glyphicon.glyphicon-backward
        strong|   Tour Dates
    .page-header
      h1
       left Band Links  
        small Phish
    <br \>
    h3  Phish's Facebook
    input(type='image', src='/images/facebook.png ', onclick='window.location.href=\'https://www.facebook.com/phish\'')
    <br \>
    h3  Phish's Twitter
    input(type='image', src='/images/twitter.png ', onclick='window.location.href=\'https://twitter.com/phish\'')
    <br \>
    h3  Phish's YouTube
    input(type='image', src='/images/youtube.png ', onclick='window.location.href=\'http://www.youtube.com/user/phish\'')
    <br \>
    h3  LivePhish
    input(type='image', src='/images/livephish.png ', onclick='window.location.href=\'http://livephish.com/\'')
    <br \>
    h3  Waterwheel Foundation
    input(type='image', src='/images/waterwheel.png ', onclick='window.location.href=\'http://phish.com/waterwheel/\'')
    <br \>
    h3  Phish.net
    input(type='image', src='/images/phishnet.png ', onclick='window.location.href=\'http://phish.net/\'')