doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

#accordion.panel-group
    .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
              | April 26, 2014: 2014 New Orleans Jazz & Heritage Festival - New Orleans, LA
        #collapseOne.panel-collapse.collapse
          .panel-body
            | Showtime: TBA <br \>
            | 1751 Gentilly Boulevard <br \>
            | New Orleans, LA 70119 <br \>
            | (504) 587-3663 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/neworleans\'')
      .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
              | July 1, 2014: Xfinity Center - Mansfield, MA
        #collapseTwo.panel-collapse.collapse
          .panel-body
            | Showtime: 7:00pm <br \>
            | 855 South Main Street <br \>
            | Mansfield, MA 02048 <br \>
            | (508) 339-2331 <br \>
            form(method='post', action='/vegas')
              input(type='BUTTON', value='More Info', onclick='window.location.href=\'/mansfield\'')
      .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
              | July 3, 2014: Saratoga Performing Arts Center - Saratoga, NY
        #collapseThree.panel-collapse.collapse
          .panel-body
            | Showtime: 7:30pm <br \>
            | 108 Avenue of the Pines <br \>
            | Saratoga, NY 12866 <br \>
            | (518) 584-9330 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/spac1\'')

    .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')
              | July 4, 2014: Saratoga Performing Arts Center - Saratoga, NY
        #collapseFour.panel-collapse.collapse
          .panel-body
            | Showtime: 7:30pm <br \>
            | 108 Avenue of the Pines <br \>
            | Saratoga, NY 12866 <br \>
            | (518) 584-9330 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/spac2\'')
      .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseFive')
              | July 5, 2014: Saratoga Performing Arts Center - Saratoga, NY
        #collapseFive.panel-collapse.collapse
          .panel-body
            | Showtime: 7:30pm <br \>
            | 108 Avenue of the Pines <br \>
            | Saratoga, NY 12866 <br \>
            | (518) 584-9330 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/spac3\'')
      .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseSix')
              | July 8, 2014: The Mann - Philadelphia, PA
        #collapseSix.panel-collapse.collapse
          .panel-body
            | Showtime: 7:30pm <br \>
            | 5201 Parkside Avenue <br \>
            | Philadelphia, PA 19131 <br \>
            | (215) 546-7900 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/philly1\'')

    .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseSeven')
              | July 9, 2014: The Mann - Philadelphia, PA
        #collapseSeven.panel-collapse.collapse
          .panel-body
            | Showtime: 7:30pm <br \>
            | 5201 Parkside Avenue <br \>
            | Philadelphia, PA 19131 <br \>
            | (215) 546-7900 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/philly2\'')
      .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseEight')
              | July 11, 2014: Randall’s Island - New York, NY
        #collapseEight.panel-collapse.collapse
          .panel-body
            | Showtime: 7:00pm <br \>
            | 20 Randall’s Island Park <br \>
            | New York, NY 10035 <br \>
            | (212) 860-1899 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/newyork1\'')
      .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseNine')
              | July 12, 2014: Randall’s Island - New York, NY
        #collapseNine.panel-collapse.collapse
          .panel-body
            | Showtime: 7:00pm <br \>
            | 20 Randall’s Island Park <br \>
            | New York, NY 10035 <br \>
            | (212) 860-1899 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/newyork2\'')

    .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseTen')
              | July 13, 2014: Randall’s Island - New York, NY
        #collapseTen.panel-collapse.collapse
          .panel-body
            | Showtime: 7:00pm <br \>
            | 20 Randall’s Island Park <br \>
            | New York, NY 10035 <br \>
            | (212) 860-1899 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/newyork3\'')
      .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseEleven')
              | July 15, 2014: CMAC - Canandaigua, NY
        #collapseEleven.panel-collapse.collapse
          .panel-body
            | Showtime: 7:00pm <br \>
            | 3355 Marvin Sands Drive <br \>
            | Canandaigua, NY 14424 <br \>
            | (585) 394-4400 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/canandaigua\'')
      .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwelve')
              | July 16, 2014: DTE Energy Music Theatre - Clarkston, MI
        #collapseTwelve.panel-collapse.collapse
          .panel-body
            | Showtime: 7:00pm <br \>
            | 7774 Sashabaw Road <br \>
            | Clarkston, MI 48348 <br \>
            | (248) 377-0100 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/detroit\'')

    .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseThirteen')
              | July 18, 2014: FirstMerit Bank Pavilion at Northerly Island - Chicago, IL
        #collapseThirteen.panel-collapse.collapse
          .panel-body
            | Showtime: 7:00pm <br \>
            | 1300 South Lynn White Drive <br \>
            | Chicago, IL 60605 <br \>
            | (312) 540-2668 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/chicago1\'')
      .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseFourteen')
              | July 19, 2014: FirstMerit Bank Pavilion at Northerly Island - Chicago, IL
        #collapseFourteen.panel-collapse.collapse
          .panel-body
            | Showtime: 7:00pm <br \>
            | 1300 South Lynn White Drive <br \>
            | Chicago, IL 60605 <br \>
            | (312) 540-2668 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/chicago2\'')
      .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseFifteen')
              | July 20, 2014: FirstMerit Bank Pavilion at Northerly Island - Chicago, IL
        #collapseFifteen.panel-collapse.collapse
          .panel-body
            | Showtime: 7:00pm <br \>
            | 1300 South Lynn White Drive <br \>
            | Chicago, IL 60605 <br \>
            | (312) 540-2668 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/chicago3\'')

    .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseSixteen')
              | July 25, 2014: PNC Music Pavilion - Charlotte, NC
        #collapseSixteen.panel-collapse.collapse
          .panel-body
            | Showtime: 7:00pm <br \>
            | 707 Pavilion Boulevard <br \>
            | Charlotte, NC 28262 <br \>
            | (704) 549-5555 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/charlotte\'')
      .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseSeventeen')
              | July 26, 2014: Merriweather Post Pavilion - Columbia, MD
        #collapseSeventeen.panel-collapse.collapse
          .panel-body
            | Showtime: 7:00pm <br \>
            | 10475 Little Patuxent Parkway <br \>
            | Columbia, MD 21044 <br \>
            | (410) 715-5550 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/columbia1\'')
      .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseEighteen')
              | July 27, 2014: Merriweather Post Pavilion - Columbia, MD
        #collapseEighteen.panel-collapse.collapse
          .panel-body
            | Showtime: 7:00pm <br \>
            | 10475 Little Patuxent Parkway <br \>
            | Columbia, MD 21044 <br \>
            | (410) 715-5550 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/columbia2\'')

    .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseNineteen')
              | July 29, 2014: nTelos Pavilion - Portsmouth, VA
        #collapseNineteen.panel-collapse.collapse
          .panel-body
            | Showtime: 7:30pm <br \>
            | 16 Crawford Circle <br \>
            | Portsmouth, VA 23704 <br \>
            | (757) 393-8181 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/portsmouth1\'')
      .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwenty')
              | July 30, 2014: nTelos Pavilion - Portsmouth, VA
        #collapseTwenty.panel-collapse.collapse
          .panel-body
            | Showtime: 7:30pm <br \>
            | 16 Crawford Circle <br \>
            | Portsmouth, VA 23704 <br \>
            | (757) 393-8181 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/portsmouth2\'')
      .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwentyone')
              | August 1, 2014: Amphitheater at the Wharf - Orange Beach, AL
        #collapseTwentyone.panel-collapse.collapse
          .panel-body
            | Showtime: 7:00pm <br \>
            | 4673 Wharf Parkway <br \>
            | Orange Beach, AL 36561 <br \>
            | (251) 224-1020 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/orangebeach\'')

    .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwentytwo')
              | August 2, 2014: Oak Mountain Amphitheatre - Pelham, AL
        #collapseTwentytwo.panel-collapse.collapse
          .panel-body
            | Showtime: 7:30pm <br \>
            | 1000 Amphitheatre Drive <br \>
            | Pelham, AL 35124 <br \>
            | (205) 985-4900 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/pelham\'')
      .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwentythree')
              | August 3, 2014: Verizon Wireless Amphitheatre at Encore Park - Alpharetta, GA
        #collapseTwentythree.panel-collapse.collapse
          .panel-body
            | Showtime: 7:30pm <br \>
            | 2200 Encore Parkway <br \>
            | Alpharetta, GA 30009 <br \>
            | (404) 733-5010 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/alpharetta\'')
      .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwentyfour')
              | August 29, 2014: Dick’s Sporting Goods Park - Commerce City, CO
        #collapseTwentyfour.panel-collapse.collapse
          .panel-body
            | Showtime: 7:30pm <br \>
            | 6000 Victory Way <br \>
            | Commerce City, CO 80022 <br \>
            | (303) 727-3500 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/denver1\'')

    .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwentyfive')
              | August 30, 2014: Dick’s Sporting Goods Park - Commerce City, CO
        #collapseTwentyfive.panel-collapse.collapse
          .panel-body
            | Showtime: 7:30pm <br \>
            | 6000 Victory Way <br \>
            | Commerce City, CO 80022 <br \>
            | (303) 727-3500 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/denver2\'')

    .panel.panel-default
        .panel-heading
          h2.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwentysix')
              | August 31, 2014: Dick’s Sporting Goods Park - Commerce City, CO
        #collapseTwentysix.panel-collapse.collapse
          .panel-body
            | Showtime: 7:30pm <br \>
            | 6000 Victory Way <br \>
            | Commerce City, CO 80022 <br \>
            | (303) 727-3500 <br \>
            input(type='BUTTON', value='More Info', onclick='window.location.href=\'/denver3\'')