doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

    button.btn.btn-default.btn-sm(type='button', onclick='window.location.href=\'/layout\'')
      span.glyphicon.glyphicon-backward
        strong|   Tour Dates
    .page-header
      h1
       left April 26, 2014 
        small Saturday
      h2
       left 2014 New Orleans Jazz & Heritage Festival  
        small Capacity: General Admission
      h3
       left 1751 Gentilly Boulevard  New Orleans, LA 70119   
        small Box Office (504) 587-3663
      h4
       left Showtime: TBA  Doors: 11:00am  Lots: 9:00am   
        small CST

    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/drivingneworleans\'') <strong \> Directions   
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/parkingneworleans\'') <strong \> Parking 
    a.btn.btn-default.btn-lg(href='http://www.ticketmaster.com/Phish-tickets/artist/748766') <strong \> Tickets <br \>

    <br \>
    <br \>
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/seatingneworleans\'') <strong \> Seating Chart   
    a.btn.btn-default.btn-lg(href='http://phish.net/setlists/?d=2014-04-26') <strong \> Setlist   
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/groceriesneworleans\'') <strong \> Groceries <br \>
    <br \>
    <br \>
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/gasneworleans\'') <strong \> Gas Stations   
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/hotelsneworleans\'') <strong \> Hotel   
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/campingneworleans\'') <strong \> Camping <br \>
    <br \>
    <br \>
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/restaurantsneworleans\'') <strong \> Restaurants   
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/barsneworleans\'') <strong \> Bars   
    a.btn.btn-danger.btn-lg(onclick='window.location.href=\'/emergencyneworleans\'') <strong \> Emergency <br \>
    <br \>
    <br \>
    input(type='image', src='/images/airport.png ', onclick='window.location.href=\'https://www.mccarran.com\'')
    input(type='image', src='/images/bus.png ', onclick='window.location.href=\'http://www.rtcsnv.com/transit\'')
    input(type='image', src='/images/taxi.png ', onclick='window.location.href=\'/taxineworleans\'')
    input(type='image', src='/images/aaa.png ', onclick='window.location.href=\'http://www.aaa.com//\'')
    <br \>
    input(type='image', src='/images/weather.png ', onclick='window.location.href=\'/weatherneworleans\'')
    input(type='image', src='/images/pets.png ', onclick='window.location.href=\'/petsneworleans\'')
    input(type='image', src='/images/band.png ', onclick='window.location.href=\'/band\'')
    input(type='image', src='/images/cashortrade.png ', onclick='window.location.href=\'http://www.cashortrade.org/phish-tickets\'')
    <br \>
    <br \>


    .page-footer
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBNoEm4x5ykG2VZcEUF6F7Oon4oPmgacmk&sensor=true')
    script
      var myCenter=new google.maps.LatLng(29.983654,-90.083688);
      function initialize()
      {
      var mapProp = {
      center:myCenter,
      zoom:17,
      mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
      var marker=new google.maps.Marker({
      position:myCenter,
      });
      marker.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
  body
    #googleMap(style='width: 500px; height: 420px;')
    br
    small
      | View 
      a(href='https://www.google.com/maps?q=29.983654,-90.083688&amp;num=1&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=29.983199,-90.08376&amp;source=embed" style="color:#0000FF;text-align:left') New Orleans Jazz & Heritage Festival
      |  in a larger map
