doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

    button.btn.btn-default.btn-sm(type='button', onclick='window.location.href=\'/denver1\'')
      span.glyphicon.glyphicon-backward
        strong|   McNichols Arena
    .page-header
      h1
       left Traveling With Pets  
        small Information
    <br \>
    h3  Vets
    input(type='image', src='/images/vet.png ', onclick='window.location.href=\'/vetdenver1\'')
    <br \>
    h3  Pet Stores
    input(type='image', src='/images/petstore.png ', onclick='window.location.href=\'/petstoredenver1\'')
    <br \>
    h3  Pet Boarding
    input(type='image', src='/images/petboarding.png ', onclick='window.location.href=\'/petboardingdenver1\'')