doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

    button.btn.btn-default.btn-sm(type='button', onclick='window.location.href=\'/vegas\'')
      span.glyphicon.glyphicon-backward
        strong|   Thomas & Mack Center
    .page-header
      h1
       left Traveling With Pets  
        small Information
    <br \>
    input(type='image', src='/images/vet.png ', onclick='window.location.href=\'https://maps.google.com/maps?near=Thomas+%26+Mack+Center+%4036.104924,-115.144252&geocode=&q=vet&vps=1&f=li&sll=36.10509,-115.14425&sspn=0.006701,0.015943&vpsrc=1&ie=UTF8&hq=vet&hnear=\'')
    <br \>
    input(type='image', src='/images/petstore.png ', onclick='window.location.href=\'https://maps.google.com/maps?near=Thomas+%26+Mack+Center+%4036.104924,-115.144252&geocode=&q=pet+store&vps=1&f=li&sll=36.10509,-115.14425&sspn=0.006701,0.015943&vpsrc=1&ie=UTF8&hq=pet+store&hnear=\'')
    <br \>
    input(type='image', src='/images/petboarding.png ', onclick='window.location.href=\'https://maps.google.com/maps?near=Thomas+%26+Mack+Center+%4036.104924,-115.144252&geocode=&q=pet+boarding&vps=1&f=li&sll=36.10509,-115.14425&sspn=0.006701,0.015943&vpsrc=1&ie=UTF8&hq=pet+boarding&hnear=\'')