doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

    button.btn.btn-default.btn-sm(type='button', onclick='window.location.href=\'/petsvegas\'')
      span.glyphicon.glyphicon-backward
        strong|   Pets
    .page-header
      h1 
        left Pet Stores near  
          small Thomas & Mack Center <br \>
 
    iframe(width='640', height='480', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?near=Thomas+%26+Mack+Center+%4036.104924,-115.144252&geocode=&q=pet+store&f=l&sll=36.10509,-115.14425&sspn=0.006701,0.015943&ie=UTF8&hq=pet+store&hnear=&t=m&ll=36.086147,-115.139809&spn=0.066588,0.109863&z=13&output=embed')
    br
    small
      | View 
      a(href='https://maps.google.com/maps?near=Thomas+%26+Mack+Center+%4036.104924,-115.144252&geocode=&q=pet+store&f=l&sll=36.10509,-115.14425&sspn=0.006701,0.015943&ie=UTF8&hq=pet+store&hnear=&t=m&ll=36.086147,-115.139809&spn=0.066588,0.109863&z=13&source=embed', style='color: #0000FF; text-align: left;') Pet Stores near Thomas & Mack Center
      |  in a larger map

