doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

    button.btn.btn-default.btn-sm(type='button', onclick='window.location.href=\'/vegas\'')
      span.glyphicon.glyphicon-backward
        strong|   Thomas & Mack Center
    .page-header
      h1 
        left  Restaurants near  
          small Thomas & Mack Center <br \>
 
    iframe(width='640', height='480', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?q=restaurants&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=restaurants&t=m&ie=UTF8&hnear=&ll=36.106329,-115.144787&spn=0.016643,0.027466&z=15&output=embed')
    br
    small
      | View 
      a(href='https://maps.google.com/maps?q=restaurants&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=restaurants&t=m&ie=UTF8&hnear=&ll=36.106329,-115.144787&spn=0.016643,0.027466&z=15&source=embed', style='color: #0000FF; text-align: left;') Restaurants near Thomas & Mack Center
      |  in a larger map

