doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

    button.btn.btn-danger.btn-sm(type='button', onclick='window.location.href=\'/emergencyvegas\'')
      span.glyphicon.glyphicon-backward
        strong|   Emergency
    .page-header
      h1 
        left  Towing Services near  
          small Thomas & Mack Center <br \>
 
    iframe(width='640', height='480', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?near=Thomas+%26+Mack+Center,+University+of+Nevada+Vegas,+Las+Vegas,+NV+89119&geocode=CTm9IQRgSvuiFZ7oJgIdSw4j-SmtNgszqsXIgDHu75TEfYDrgw&q=towing&f=l&sll=36.105194,-115.144252&sspn=0.007082,0.015943&ie=UTF8&hq=towing&hnear=&t=m&ll=36.145083,-115.140839&spn=0.133076,0.219727&z=12&output=embed')
    br
    small
      | View 
      a(href='https://maps.google.com/maps?near=Thomas+%26+Mack+Center,+University+of+Nevada+Vegas,+Las+Vegas,+NV+89119&geocode=CTm9IQRgSvuiFZ7oJgIdSw4j-SmtNgszqsXIgDHu75TEfYDrgw&q=towing&f=l&sll=36.105194,-115.144252&sspn=0.007082,0.015943&ie=UTF8&hq=towing&hnear=&t=m&ll=36.145083,-115.140839&spn=0.133076,0.219727&z=12&source=embed', style='color: #0000FF; text-align: left;') Towing Services near Thomas & Mack Center
      |  in a larger map

