doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

    button.btn.btn-default.btn-sm(type='button', onclick='window.location.href=\'/vegas\'')
      span.glyphicon.glyphicon-backward
        strong|   Thomas & Mack Center
    .page-header
      h1
       left Transportation Information  
        small Las Vegas, NV
    <br \>
    input(type='image', src='/images/airport.png ', onclick='window.location.href=\'https://www.mccarran.com\'')
    <br \>
    input(type='image', src='/images/bus.png ', onclick='window.location.href=\'http://www.rtcsnv.com/transit\'')
    <br \>
    input(type='image', src='/images/taxi.png ', onclick='window.location.href=\'https://maps.google.com/maps?near=Thomas+%26+Mack+Center+%4036.104924,-115.144252&geocode=&q=taxi&vps=1&f=li&sll=36.104924,-115.144252&sspn=0.007082,0.015943&vpsrc=1&ie=UTF8&hq=taxi&hnear=\'')