doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

    button.btn.btn-default.btn-sm(type='button', onclick='window.location.href=\'/layout\'')
      span.glyphicon.glyphicon-backward
        strong|   Tour Dates
    .page-header
      h1
       left November 14, 2013 
        small Thursday
      h2
       left The "E" Center   
        small Capacity: 12,600
      h3
       left 3200 Decker Lake Drive  West Valley City, UT 84119   
        small (801) 988-8800
      h4
       left Show: 7:00pm  Doors: 5:30pm  Lot: 3:00pm   
        small PST

    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=thomas+and+mack+center&fb=1&gl=us&hq=thomas+%26+mack+center+capacity&cid=0,0,1010521228730691097&t=m&z=16') <strong \> Driving Directions   
    a.btn.btn-default.btn-lg(href='http://www.unlvraf.com/tickets_parking_tmc.php') <strong \> Parking Information   
    a.btn.btn-default.btn-lg(href='http://www.weather.com/weather/today/Las+Vegas+NV+89154:4:US') <strong \> Weather Information <br \>
    <br \>
    <br \>
    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=gas+station&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=gas+station&t=m&z=14') <strong \> Local Gas Stations   
    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=hotels&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=hotels&t=m&z=15') <strong \> Hotel Information   
    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=camping&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=camping&t=m&z=12') <strong \> Camping Information <br \>
    <br \>
    <br \>
    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=restaurants&ll=36.106329,-115.144787&spn=0.014164,0.031886&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=restaurants&t=m&z=16') <strong \> Local Restaurants   
    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=bars&ll=36.105376,-115.143521&spn=0.014164,0.031886&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=bars&t=m&z=16') <strong \> Local Bars   
    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=grocery+stores&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=grocery+stores&t=m&z=15') <strong \> Area Grocery Stores <br \>
    <br \>
    <br \>
    a.btn.btn-default.btn-lg(href='http://d3em2zrr3jifnq.cloudfront.net/media/66460_on.jpg') <strong \> Seating Chart   
    a.btn.btn-default.btn-lg(href='http://phish.net/setlists/?d=1997-11-14') <strong \> Setlist   
    a.btn.btn-default.btn-lg(href='http://www.cashortrade.org/phish-tickets') <strong \> Tickets <br \>
    <br \>
    <br \>
    input(type='image', src='/images/facebook.png ', onclick='window.location.href=\'https://www.facebook.com/phish\'')
    input(type='image', src='/images/twitter.png ', onclick='window.location.href=\'https://twitter.com/phish\'')
    input(type='image', src='/images/youtube.png ', onclick='window.location.href=\'http://www.youtube.com/user/phish\'')

    <br \>


    .page-footer
    iframe(width='580', height='420', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps/ms?msa=0&msid=206762549558150609756.0004eab28bc72918cb8f3&ie=UTF8&t=m&z=17&output=embed')
    br
    small
      | View 
      a(href='https://maps.google.com/maps/ms?msa=0&msid=206762549558150609756.0004eab28bc72918cb8f3&ie=UTF8&t=m&z=17&source=embed', style='color:#0000FF;text-align:left') Thomas & Mack Center
      |  in a larger map


