doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

    button.btn.btn-default.btn-sm(type='button', onclick='window.location.href=\'/layout\'')
      span.glyphicon.glyphicon-backward
        strong|   Tour Dates
    .page-header
      h1
       left November 13, 2013 
        small Wednesday
      h2
       left Thomas & Mack Center  
        small Capacity: 19,522
      h3
       left 4505 S Maryland Parkway  Las Vegas, NV 89154   
        small Box Office (702) 895-3761
      h4
       left Showtime: 7:30pm  Doors Open: 6:00pm  Parking Lots Open: 3:30pm   
        small PST

    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=thomas+and+mack+center&fb=1&gl=us&hq=thomas+%26+mack+center+capacity&cid=0,0,1010521228730691097&t=m&z=16') <strong \> Directions   
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/parkingvegas\'') <strong \> Parking 
    a.btn.btn-danger.btn-lg(onclick='window.location.href=\'/emergency\'') <strong \> Emergency <br \>
    <br \>
    <br \>
    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=gas+station&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=gas+station&t=m&z=14') <strong \> Gas Stations   
    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=hotels&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=hotels&t=m&z=15') <strong \> Hotel   
    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=camping&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=camping&t=m&z=12') <strong \> Camping <br \>
    <br \>
    <br \>
    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=restaurants&ll=36.106329,-115.144787&spn=0.014164,0.031886&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=restaurants&t=m&z=16') <strong \> Restaurants   
    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=bars&ll=36.105376,-115.143521&spn=0.014164,0.031886&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=bars&t=m&z=16') <strong \> Bars   
    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=grocery+stores&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=grocery+stores&t=m&z=15') <strong \> Groceries <br \>
    <br \>
    <br \>
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/seatingvegas\'') <strong \> Seating Chart   
    a.btn.btn-default.btn-lg(href='http://phish.net/setlists/?d=1997-11-13') <strong \> Setlist   
    a.btn.btn-default.btn-lg(href='http://www.ticketmaster.com/Phish-tickets/artist/748766') <strong \> Tickets <br \>
    <br \>
    <br \>
    input(type='image', src='/images/airport.png ', onclick='window.location.href=\'https://www.mccarran.com\'')
    input(type='image', src='/images/bus.png ', onclick='window.location.href=\'http://www.rtcsnv.com/transit\'')
    input(type='image', src='/images/taxi.png ', onclick='window.location.href=\'https://maps.google.com/maps?near=Thomas+%26+Mack+Center+%4036.104924,-115.144252&geocode=&q=taxi&vps=1&f=li&sll=36.104924,-115.144252&sspn=0.007082,0.015943&vpsrc=1&ie=UTF8&hq=taxi&hnear=\'')
    input(type='image', src='/images/aaa.png ', onclick='window.location.href=\'http://www.aaa.com//\'')
    <br \>
    input(type='image', src='/images/weather.png ', onclick='window.location.href=\'http://www.weather.com/weather/today/Las+Vegas+NV+89154:4:US\'')
    input(type='image', src='/images/pets.png ', onclick='window.location.href=\'/pets\'')
    input(type='image', src='/images/band.png ', onclick='window.location.href=\'/band\'')
    input(type='image', src='/images/cashortrade.png ', onclick='window.location.href=\'http://www.cashortrade.org/phish-tickets\'')
    <br \>


    .page-footer
    iframe(width='580', height='420', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps/ms?msa=0&msid=206762549558150609756.0004eab28bc72918cb8f3&ie=UTF8&t=m&z=17&output=embed')
    br
    small
      | View 
      a(href='https://maps.google.com/maps/ms?msa=0&msid=206762549558150609756.0004eab28bc72918cb8f3&ie=UTF8&t=m&z=17&source=embed', style='color:#0000FF;text-align:left') Thomas & Mack Center
      |  in a larger map


