!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Lily's 1st Year (with Milestones)
    style(type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    style(type='text/css')
      h1 {color: green}
      h2 {color: purple}
      p {color: blue;}
  body
    header
      h1 Lily's 1st Year (with Milestones)
      script
        document.write("Lily's 1st Year (with Milestones)")
    br
    section
      h1 Lily's Brief Bio
      blockquote Lily was born on September 11, 2012, at the Boulder Community Foothills Hospital
    p
      | The
      abbr(title='Boulder Community Foothills Hospital') BCFH
      | is the newest annex of the Boulder Hospital network.
  body
    p
      | Lily wakes up
      time 07:30
      | every morning.
  br
  body
    h4
      | Lily was born with
      span(style='color: blue; font-weight: bold;') blue
      | eyes and with
      span(style='color: yellow; font-weight: bold; background-color: black;') blond hair
      | .
  br
  body
    div(style='color: purple;')
      h5 A list of Lily's favorite foods:
      ul
        li Avocado
        li Oatmeal
        li Cheese
        li Apple Sauce
  body
    h5 Lily loves her bottle and here are the steps to make it to her liking:
    ol
      li Microwave water 6 oz. of water for 40 seconds
      li Add three scoops of formula into her bottle
      li Pour the heated water into bottle to the 6 oz. mark
      li Stir and serve!
  body
    h5
      | Here are three different outfit types that Lily likes and what time of year she can wear them:
    dl
      dt Short sleeve Onesies
      dd can wear anytime but mainly in spring and summer
      dt Pants
      dd can wear in fall and winter (or on colder days)
      dt Rompers
      dd can wear anytime of year indoors
  blockquote
    strong Below is a list of milestones during Lily's 1st year
  p Lily Months 0-6
  body
    h2 Here is a link to videos of Lily during her 1st year
    a(href='http://www.youtube.com/channel/UCbP3bjcFQ_FN39l3xEpB9sg?feature=g-subs-u') Lily Videos!
    br
    h2 Lily also has a dedicated logistics company named after her!
    br
    iframe(src='http://www.lily.com')
      p Your browser does not support iframes.
  hr
  body
    h2 Here are some photos of Lily during her 1st year
    img(src='/Users/RU-011/Downloads/lily2.jpg', alt='Lily', width='340', height='260')
    br
  hr
  body
    h3
      em Milestones from 0-6 months
    br
    strong * She slept through the night at 2 1/2 months
    br
    body
      | * Her favorite toy is
      del Hops
      ins Moo
      | !
    br
    article
      h1 Lily's Birth Announcement from the Daily Camera
      h4 Here is the article in the Daliy Camera announcing Lily's birth
      a(href='http://www.dailycamera.com/ci_21725837/births-submitted-week-oct-3') October 3, 2012 - Daily Camera
    body
      blockquote
        | The first thing the doctor said after Lily was born was:
        q She is a healthy little girl!
    br
    body
      p
        | Lily is
        sup 11 months
        | old right now.
    p Lily at almost 1 year
    aside
      h2 Lily Standing
      p Lily has been standing on her own since she was 10 months
      img(src='/Users/RU-011/Downloads/lily.jpg', alt='Lily', width='390', height='300')
      br
    body
      p Here are three of Lily's favorite words:
      br
      nav
        a(href='/mama') Mama
        | |
        a(href='/dada') Dada
        | |
        a(href='/baba') Baba
    br
    body
      table(border='1')
        caption Lily's weight in 2012 by month
        tr
          th Month
          th Weight
        td September
        td 7.3 lbs.
        tr
          td October
          td 7.9 lbs.
        tr
          td November
          td 8.6 lbs.
        tr
          td December
          td 9.2 lbs.
    br
    body
      h4 Click on the button below for a special message from Lily
      br
      button(type='button', onclick='alert(\'Eh!\')') Click Me!
    br
    h4 Lily has several nicknames.  Read below for a list fo them:
    br
    textarea(rows='4', cols='50')
      | Peach
      | Peanut
      | Fofa
      | Milx
      | Sweetheart
    br
    body
      h4
        | Lily typed a message to her grandparents via Skype when she was talking to them earlier this month.  She wrote:
      pre.
        \n\t\t\tlllkksdjdjjdjdjdjdjjd
        \t\t\tyrtesshdhdhdh
        \t\t\tuisnsbs  fhhrhr
        \t\t        
    br
    body
      h4 Watch a special video of Lily
      video(width='320', height='240', controls='controls')
        source(src='/Users/RU-011/Downloads/IMG_2279.MOV', type='video/mp4')
          source(src='movie.ogg', type='video/ogg')
            | Your browser does not support the video tag.
    br
    body
      h4
        | Here are some examples of items requested and their prices before Lily was born:
      br
      table(border='1')
        colgroup
          col(span='2', style='background-color: yellow;')
          col(style='background-color: orange;')
        tr
          th Item
          th Store
          th Price
        tr
          td Graco Crib
          td Amazon.com
          td $150.00
        tr
          td Chicco Stroller w/Car Seat
          td Albee Baby
          td $250.00
        tr
          td 3M Noise Reduction Headphones
          td Amazon.com
          td $50.00
    br
    h4
      | This is the cost breakdown in 2012 by month for purchasing food for Lily
    head
      style(type='text/css')
        thead {color:purple;}
        tbody {color:black;}
        tfoot {color:red;}
    body
      table(border='1')
        thead
          tr
            th Month
            th Cost
        tfoot
          tr
            td Sum
            td $480
        tbody
          tr
            td September
            td $80
          tr
            td October
            td $100
          tr
            td November
            td $120
          tr
            td December
            td $180
    br
    body
      p
        | Lily's favorite piece of art is hanging in her room, which is a poster from the Phish show's in 2012 at Dick's Sporting Goods Park.
      br
      img(src='/Users/RU-011/Downloads/Phish_Dicks_green.jpg', width='175', height='300', alt='Phish Dick\'s')
      p
        cite Looking for Owls
        | by Jim Pollack. Painted in 2012
    br
    body
      h4
        | If you would like Lily to contact you, please enter your name and email and click "Submit"
      form(action='demo_form.asp')
        | First Name:
        input(type='text', name='FirstName', value='Megan')
        br
        | Last Name:
        input(type='text', name='LastName', value='Fantinelli')
        br
        | Email Address:
        input(type='text', name='EmailAddress', value='megan.fantinelli@gmail.com')
        br
        input(type='submit', value='Submit')
      h4
        | Please check one (or more) of the dietary restrictions below so Lily can have the right kinds of food avaialable for a visit (or select from the dropdown menu):
      form(action='lily_form.asp')
        label(for='vegetarian') Vegetarian
        input#vegetarian(type='radio', name='diet', value='vegetarian')
        br
        label(for='gluten_free') Gluten Free
        input#gluten_free(type='radio', name='diet', value='gluten_free')
        br
        label(for='nut_allergies') Nut Allergies
        input#nut_allergies(type='radio', name='diet', value='nut_allergies')
        br
        label(for='no_dairy') No Dairy
        input#no_dairy(type='radio', name='diet', value='no_dairy')
        br
        br
        input(type='submit', value='Submit')
      br
      select
        option(value='vegetarian') Vegetarian
        option(value='gluten_free') Gluten Free
        option(value='nut_allergies') Nut Allergies
        option(value='no_dairy') No Dairy
      h4
        | To ensure that you are old enough to visit with Lily, please enter your name and date of birth:
      form
        fieldset
          legend Age Verification
          | Name:
          input(type='text')
          br
          | Email:
          input(type='text')
          br
          | Date of Birth:
          input(type='text')
      br
      address
        | Written by
        a(href='mailto:allan.fantinelli@gmail.com') Allan Fantinelli
        | .
        br
        | Visit us at:
        br
        | Lily's House
        br
        | Boulder, CO
        br
        | United States
        br
    body
      footer
        p Created by: Allan Fantinelli
