doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

    button.btn.btn-default.btn-sm(type='button', onclick='window.location.href=\'/layout\'')
      span.glyphicon.glyphicon-backward
        strong|   Tour Dates
    .page-header
      h1
       left November 13, 2013 
        small Wednesday
      h2
       left Thomas & Mack Center  
        small Capacity: 19,522
      h3
       left 4505 S Maryland Parkway  Las Vegas, NV 89154   
        small Box Office (702) 895-3761
      h4
       left Showtime: 7:30pm  Doors Open: 6:00pm  Parking Lots Open: 3:30pm   
        small PST

    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/drivingvegas\'') <strong \> Directions   
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/parkingvegas\'') <strong \> Parking 
    a.btn.btn-default.btn-lg(href='http://www.ticketmaster.com/Phish-tickets/artist/748766') <strong \> Tickets <br \>

    <br \>
    <br \>
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/seatingvegas\'') <strong \> Seating Chart   
    a.btn.btn-default.btn-lg(href='http://phish.net/setlists/?d=1997-11-13') <strong \> Setlist   
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/groceriesvegas\'') <strong \> Groceries <br \>
    <br \>
    <br \>
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/gasvegas\'') <strong \> Gas Stations   
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/hotelsvegas\'') <strong \> Hotel   
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/campingvegas\'') <strong \> Camping <br \>
    <br \>
    <br \>
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/restaurantsvegas\'') <strong \> Restaurants   
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/barsvegas\'') <strong \> Bars   
    a.btn.btn-danger.btn-lg(onclick='window.location.href=\'/emergencyvegas\'') <strong \> Emergency <br \>
    <br \>
    <br \>
    input(type='image', src='/images/airport.png ', onclick='window.location.href=\'https://www.mccarran.com\'')
    input(type='image', src='/images/bus.png ', onclick='window.location.href=\'http://www.rtcsnv.com/transit\'')
    input(type='image', src='/images/taxi.png ', onclick='window.location.href=\'/taxivegas\'')
    input(type='image', src='/images/aaa.png ', onclick='window.location.href=\'http://www.aaa.com//\'')
    <br \>
    input(type='image', src='/images/weather.png ', onclick='window.location.href=\'/weathervegas\'')
    input(type='image', src='/images/pets.png ', onclick='window.location.href=\'/petsvegas\'')
    input(type='image', src='/images/band.png ', onclick='window.location.href=\'/band\'')
    input(type='image', src='/images/cashortrade.png ', onclick='window.location.href=\'http://www.cashortrade.org/phish-tickets\'')
    <br \>
    <br \>


    .page-footer
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBNoEm4x5ykG2VZcEUF6F7Oon4oPmgacmk&sensor=true')
    script
      var myCenter=new google.maps.LatLng(36.105194,-115.144252);
      function initialize()
      {
      var mapProp = {
      center:myCenter,
      zoom:17,
      mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
      var marker=new google.maps.Marker({
      position:myCenter,
      });
      marker.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
  body
    #googleMap(style='width: 500px; height: 420px;')
    br
    small
      | View 
      a(href='https://maps.google.com/maps?q=36.105194,-115.144252&num=1&ie=UTF8&t=m&ll=36.104942,-115.144272&spn=0.033286,0.054932&z=14&source=embed', style='color: #0000FF; text-align: left;') Thomas & Mack Center
      |  in a larger map
