doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

    button.btn.btn-default.btn-sm(type='button', onclick='window.location.href=\'/layout\'')
      span.glyphicon.glyphicon-backward
        strong|   Tour Dates
    .page-header
      h1
       left November 13, 2013 
        small Wednesday
      h2
       left Thomas & Mack Center  
        small Capacity: 19,522
      h3
       left 4505 S Maryland Parkway  Las Vegas, NV 89154   
        small Box Office (702) 895-3761
      h4
       left Showtime: 7:30pm  Doors Open: 6:00pm  Parking Lots Open: 3:30pm   
        small PST

    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/drivingvegas\'') <strong \> Directions   
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/parkingvegas\'') <strong \> Parking 
    a.btn.btn-default.btn-lg(href='http://www.ticketmaster.com/Phish-tickets/artist/748766') <strong \> Tickets <br \>

    <br \>
    <br \>
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/seatingvegas\'') <strong \> Seating Chart   
    a.btn.btn-default.btn-lg(href='http://phish.net/setlists/?d=1997-11-13') <strong \> Setlist   
    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=grocery+stores&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=grocery+stores&t=m&z=15') <strong \> Groceries <br \>
    <br \>
    <br \>
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/gasvegas\'') <strong \> Gas Stations   
    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=hotels&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=hotels&t=m&z=15') <strong \> Hotel   
    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=camping&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=camping&t=m&z=12') <strong \> Camping <br \>
    <br \>
    <br \>
    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=restaurants&ll=36.106329,-115.144787&spn=0.014164,0.031886&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=restaurants&t=m&z=16') <strong \> Restaurants   
    a.btn.btn-default.btn-lg(href='https://maps.google.com/maps?q=bars&ll=36.105376,-115.143521&spn=0.014164,0.031886&sll=36.104924,-115.144252&sspn=0.006295,0.006295&near=Thomas+%26+Mack+Center,+4505+S+Maryland+Pkwy,+Las+Vegas,+NV+89154&geocode=CRePwY7BiNf6FdzqJgIdxAkj-Skpb_FfVcTIgDEZ7nsctBcGDg&gl=us&dq=thomas+%26+mack+center+capacity+loc:+Boulder,+CO&hq=bars&t=m&z=16') <strong \> Bars   
    a.btn.btn-danger.btn-lg(onclick='window.location.href=\'/emergency\'') <strong \> Emergency <br \>
    <br \>
    <br \>
    input(type='image', src='/images/airport.png ', onclick='window.location.href=\'https://www.mccarran.com\'')
    input(type='image', src='/images/bus.png ', onclick='window.location.href=\'http://www.rtcsnv.com/transit\'')
    input(type='image', src='/images/taxi.png ', onclick='window.location.href=\'https://maps.google.com/maps?near=Thomas+%26+Mack+Center+%4036.104924,-115.144252&geocode=&q=taxi&vps=1&f=li&sll=36.104924,-115.144252&sspn=0.007082,0.015943&vpsrc=1&ie=UTF8&hq=taxi&hnear=\'')
    input(type='image', src='/images/aaa.png ', onclick='window.location.href=\'http://www.aaa.com//\'')
    <br \>
    input(type='image', src='/images/weather.png ', onclick='window.location.href=\'/weathervegas\'')
    input(type='image', src='/images/pets.png ', onclick='window.location.href=\'/pets\'')
    input(type='image', src='/images/band.png ', onclick='window.location.href=\'/band\'')
    input(type='image', src='/images/cashortrade.png ', onclick='window.location.href=\'http://www.cashortrade.org/phish-tickets\'')
    <br \>
    <br \>


    .page-footer
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBNoEm4x5ykG2VZcEUF6F7Oon4oPmgacmk&sensor=false')
    script
      var myCenter=new google.maps.LatLng(36.105194,-115.144252);
      function initialize()
      {
      var mapProp = {
      center:myCenter,
      zoom:17,
      mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
      var marker=new google.maps.Marker({
      position:myCenter,
      });
      marker.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
  body
    #googleMap(style='width: 500px; height: 420px;')
    br
    small
      | View 
      a(href='https://maps.google.com/maps?q=36.105194,-115.144252&num=1&ie=UTF8&t=m&ll=36.104942,-115.144272&spn=0.033286,0.054932&z=14&source=embed', style='color: #0000FF; text-align: left;') Thomas & Mack Center
      |  in a larger map
