doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

    button.btn.btn-default.btn-sm(type='button', onclick='window.location.href=\'/layout\'')
      span.glyphicon.glyphicon-backward
        strong|   Tour Dates
    .page-header
      h1
       left November 23, 2013 
        small Saturday
      h2
       left Lawrence Joel Veterans Memorial Coliseum  
        small Capacity: 14,665
      h3
       left 2825 University Parkway  Winston-Salem, NC 27105   
        small Box Office (336) 727-2978
      h4
       left Showtime: 7:30pm  Doors: 6:00pm  Lots: 3:30pm   
        small EST

    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/drivingwinstonsalem\'') <strong \> Directions   
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/parkingwinstonsalem\'') <strong \> Parking 
    a.btn.btn-default.btn-lg(href='http://www.ticketmaster.com/Phish-tickets/artist/748766') <strong \> Tickets <br \>

    <br \>
    <br \>
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/seatingwinstonsalem\'') <strong \> Seating Chart   
    a.btn.btn-default.btn-lg(href='http://phish.net/setlists/?d=1997-11-23') <strong \> Setlist   
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/grocerieswinstonsalem\'') <strong \> Groceries <br \>
    <br \>
    <br \>
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/gaswinstonsalem\'') <strong \> Gas Stations   
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/hotelswinstonsalem\'') <strong \> Hotel   
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/campingwinstonsalem\'') <strong \> Camping <br \>
    <br \>
    <br \>
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/restaurantswinstonsalem\'') <strong \> Restaurants   
    a.btn.btn-default.btn-lg(onclick='window.location.href=\'/barswinstonsalem\'') <strong \> Bars   
    a.btn.btn-danger.btn-lg(onclick='window.location.href=\'/emergencywinstonsalem\'') <strong \> Emergency <br \>
    <br \>
    <br \>
    input(type='image', src='/images/airport.png ', onclick='window.location.href=\'http://www.flyfrompti.com\'')
    input(type='image', src='/images/bus.png ', onclick='window.location.href=\'http://www.wstransit.com\'')
    input(type='image', src='/images/taxi.png ', onclick='window.location.href=\'/taxiwinstonsalem\'')
    input(type='image', src='/images/aaa.png ', onclick='window.location.href=\'http://www.aaa.com//\'')
    <br \>
    input(type='image', src='/images/weather.png ', onclick='window.location.href=\'/weatherwinstonsalem\'')
    input(type='image', src='/images/pets.png ', onclick='window.location.href=\'/petswinstonsalem\'')
    input(type='image', src='/images/band.png ', onclick='window.location.href=\'/band\'')
    input(type='image', src='/images/cashortrade.png ', onclick='window.location.href=\'http://www.cashortrade.org/phish-tickets\'')
    <br \>
    <br \>


    .page-footer
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBNoEm4x5ykG2VZcEUF6F7Oon4oPmgacmk&sensor=true')
    script
      var myCenter=new google.maps.LatLng(36.131913,-80.258072);
      function initialize()
      {
      var mapProp = {
      center:myCenter,
      zoom:17,
      mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
      var marker=new google.maps.Marker({
      position:myCenter,
      });
      marker.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
  body
    #googleMap(style='width: 500px; height: 420px;')
    br
    small
      | View 
      a(href="https://www.google.com/maps?q=36.131913,-80.258072&amp;num=1&amp;ie=UTF8&amp;t=m&amp;ll=36.132052,-80.257359&amp;spn=0.048525,0.072956&amp;z=13&amp;source=embed" style="color:#0000FF;text-align:left") Lawrence Joel Veterans Memorial Coliseum
      |  in a larger map
